table {
    margin: 10px auto;
    border: thin solid gray;
}

caption {
    caption-side: bottom;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th, td {
    padding: 7px 15px;
    border: 1px solid black;
}