* {
    box-sizing: border-box;
}

body {
    font-family: 'Palanquin', sans-serif;
    font-weight: 200;
}

main, footer {
    margin: 1rem auto;
}

header {
    display: flex;
    color: #fff;
    background-color: #330c2f;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

header img {
    margin: 0 1rem;
}

#menu {
	font-size: 0.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

nav {
	background-color: #7b287d;
	margin: 0 auto;
}

nav ul {
    margin: 0;
    padding: 0;
	list-style-type: none;
}

nav ul li {
    display: none;
	list-style-type: none;
    padding-left: 0px;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	border: 1px solid #fff;
}

.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

.hero-image {
    position: relative;
}

.hero-image img {
    width: 100%;
}

.joinBtn {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.card {
    margin: 5px;
    padding: 5px;
    border: 1px solid #7b287d;
}

footer {
    text-align: center;
    padding: 1rem;
    color: #fff;
    background-color: #330c2f;
}


/* discover document */

.social-media {
    text-align: center;
}

.sidebar {
    position: relative;
}

.sidebar img {
    width: 100%;
    height: auto;
}

.sidebar__content {
    margin: 1rem;
    padding: 5px;
    border: #000 solid 1px;
}

.gallery {
    position: relative;
    margin: 1rem;
    padding: 5px;
    border: #000 solid 1px;
}

.gallery img {
    width: 100%;
    height: auto;
}

footer p {
    margin: 0 auto;
}

footer .footer-info {
    text-align: center;
}