* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Palanquin', sans-serif;
    max-width: 1080px;
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: coral;
    padding: 1rem;
    position: relative;
}

#darkBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 24px;
    cursor: pointer;

}

header span {
    padding-left: 1rem;
    font-size: 2rem;
}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
    position: relative;
    top: 2rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

nav {
	background-color: #36454f;
}

nav ul {
	list-style-type: none;
    padding-left: 0px;
}

nav ul li {
    display: none;
	list-style-type: none;
    padding-left: 0px;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
    color: #000;
	background-color: blanchedalmond;
}

.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.active {
	color: yellow;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.herolabel {
	position: absolute;
    font-size: x-small;
    top: 1rem;
    right: 1rem;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
    padding: 0.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
}

h1 {
    margin: 1rem;
    border-bottom: 1px solid;
}

.card {
    text-align: center;
    margin: 1rem;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
}

.card h2 {
    margin: 0%;
    padding: 1rem 0%;
    text-align: center;
    background-color: coral;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card ul li {
    text-align: left;
    list-style-type: none;
    padding: 5px;
}

iframe {
    width: 100%;
}

figure {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2.5rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: coral;
}