* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

header {
	background-color: chocolate;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

header, main, footer {
	max-width: 860px;
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
    margin-left: 15px;
}

nav {
	background-color: dimgray;
	margin: 0 auto;
	max-width: 860px;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	border: 1px solid #fff;
}

.active {
	color: yellow;
}

h2 {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

hr {
    margin-left: 25px;
    margin-right: 25px;
}

h3 {
    background-color: chocolate;
    text-align: center;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card {
    margin: 25px;
    border: 1px solid brown;
    border-radius: 5px;
    box-shadow: 3px 5px;
}

.card ul {
    list-style-type: none;
    margin: 15px;
}

.card ul li {
    padding: 3px;
}

footer {
    background-color: chocolate;
    text-align: center;
    padding: 5px;
}
